n8n.jexxl.io {
    tls {
        on_demand
    }
    reverse_proxy http://host.docker.internal:5678
}

api.jexxl.io {
    tls {
        on_demand
    }
    reverse_proxy http://host.docker.internal:65159
}

pgadmin.jexxl.io {
    tls {
        on_demand
    }
    reverse_proxy http://host.docker.internal:65162
}

budibase.jexxl.io {
    tls {
        on_demand
    }
    reverse_proxy http://host.docker.internal:65163
}

keycloak.jexxl.io {
    tls {
        on_demand
    }
    reverse_proxy http://host.docker.internal:65164
}